<div class="container-fluid text-center">
  <div class='div-with-image'>
    <nav class='registration'>
      <% if user_signed_in? %>
        <%= link_to 'Sign out', destroy_user_session_path, class: 'btn btn-light btn-light', method: :delete %>
      <% else %>
        <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-secondary' %>
        <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-secondary' %>
      <% end %>
    </nav>
    <h1 class='title'>Instarails</h1>
    <h4 class="mt-3">The number two photo social app</h4>
  </div>
  <ul class='navigation d-flex justify-content-around'>
    <li><a href='#'><i class="fa fa-search"></i></a></li>
    <li><a href='#'>Featured</a></li>
    <li><a href='#'>News</a></li>
    <li><a href='#'>Entertainment</a></li>
    <li><a href='#'>Gaming</a></li>
    <li><a href='#'>Sports</a></li>
    <li><a href='#'>Fun</a></li>
    <li><a href='#'>More</a></li>
  </ul>

</div>
