/*
 *= require sweetalert2
 */
$primary: #4AB3F4;
$primary-hover: #1DA1F2;
$secondary: #686D74;

@import "font-awesome";
@import "bootstrap";
@import "landing";
@import "profiles";
@import "photos";
@import "feed";
@import "followers";
@import "following";
@import "devise";
@import "navbar";

html {
  font-family: 'Lato', sans-serif;
}
// To avoid footer overflowing
body {
  overflow-x: hidden;
  padding-bottom: 100px;
}
ul {
  list-style: none;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
}
// buttons
.btn {
  font-weight: bold;
  border-radius: 20px;
  width: 110px;
  height: 32px;
  font-size: 0.7em;
}
.btn-edit {
  display: inline-block;
  color: $secondary;
  background: white;
  border: 1px solid $secondary;
  text-align: center;
  padding-top: 6px;
}
.btn-edit:hover {
  background: #e6ecf0;
  color: $secondary;
}
.btn-follow {
  color: $primary;
  border: 1px solid $primary;
}
.btn-primary {
  background: $primary;
  border: none;
  padding-top: 7px;
}
.btn-primary:hover {
  background: $primary-hover;
}
.btn-secondary {
  background: none;
  border: 1px solid white;
  color: white;
  padding-top: 7px;
}
.btn-secondary:hover {
  background: white;
  border: 1px solid white;
  color: $primary-hover;
}
.btn-danger {
  padding-top: 7px;
  width: auto;
}
.btn-light {
  padding-top: 7px;
}
.btn-larger {
  width: 150px;
}
.btn-smaller {
  width: 80px;
}
.text-instarails {
  color: $primary;
}
// footer
footer {
  box-sizing: border-box;
  position: fixed;
  height: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0084b4;
  padding: 20px;
  p {
    padding-top: 10px;
    font-size: 0.6em;
    font-weight: bold;
  }
}

.devise-errors-list {
  list-style: none;
}