// Forms
.input-field {
  display: block;
  width: 280px;
  margin: 5px auto;
  border-radius: 8px;
  padding-left: 5px;
  border: 2px solid $secondary;
  outline: none;
}
.input-field:focus, .input-field:hover, .file-box:active, .file-box:hover{
  border: 2px solid $primary-hover; 
}

.remember {
  font-size: 0.8em;
}