// Forms
.input-field {
  display: block;
  width: 280px;
  margin: 5px auto;
  border-radius: 8px;
  padding-left: 5px;
  border: 2px solid #686D74;
  outline: none;
}

.input-field:focus {
  border: 2px solid #1DA1F2; 
}

.remember {
  font-size: 0.8em;
}